.sidebar {
    min-width: 180px;
    display: var(--display-sidebar);
    flex-direction: column;
    flex: 1;
    
    &-hidde {
        display: none;
    }

    &__menu {
        position: fixed;
        margin-top: 60px;
    }
}
  
  
