.main {
    flex: 1;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.content {
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    &__wrapper {
        padding: 20px 0 40px;
        display: flex;
        flex-direction: column;
    }

    &__message {
        margin-top: 1pc;
        color: var(--text-color2);
    }
}

.search-wrapper {
    display: flex;
    align-items: center;

    .search-input {
        margin-right: 10px;
        background-color: var(--color2);
        border-radius: 8px;
        width: 120px;
        padding: 0 5px;
    }
}

@media (max-width: 640px) {
    .content {
        display: var(--display-content);
    }
}