.main {
    flex: 1;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.content {
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;

        .btn {
            color: inherit;
            background-color: var(--color2);
            border: 1px var(--border-color) solid;
        }
    }

    &__wrapper {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    &__message {
        margin-top: 1pc;
        color: var(--text-color2);
    }
}

.search {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;

    &__input {
        width: 130px;
        padding: 2px 5px 2px 40px;
        border-radius: 14px;
        background-color: var(--color2);
        transition: 0.2s;

        &:focus {
            width: 250px;
        }
    }

    &__icon {
        width: 20px;
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        fill: var(--text-color1);
    }
}

@media (max-width: 640px) {
    .content {
        display: var(--display-content);
    }
}