.login {
    margin: auto;

    // Ant Design
    .ant-form {
        .logo {
            padding-bottom: 15px;
            display: flex;
            
            &__icon {
                fill: var(--color-blue);
                margin: 0 auto;
                width: 48px;
                height: 48px;
            }
        }

        .span {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}