@import '../../../../styles/imports/variables';

.post {
    display: flex;
    padding: 20px 20px;
    background-color: var(--color2);
    border-radius: 15px;
    border: 1px var(--border-color) solid;
    margin-bottom: 10px;
    box-shadow: $shadow;

    &__logo-wrapper {
        width: 33%;   
        height: auto;
    }

    &__logo {
        width: 100%;
        object-fit: contain;
    }

    &__header {
        display: flex;
    }
    
    &__title {
        flex: 1;
        font-size: 22px;
        color: var(--text-color1);
    }

    &__description {
        margin-top: 20px;
        flex: 1;
        font-size: 16px;
        cursor: pointer;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        flex: 1;
    }
}

.application {
    width: min-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 15px;

    & > * + * {
        margin-left: 15px;
    }
}
