.phone-auth {
    margin: auto;

    .title {
        padding-bottom: 15px;
        text-align: center;
    }

    &__confirm {
        padding-top: 30px;
    }

    #recaptcha-container {
        margin-top: 20px;
    }
    
    // Ant Design
    .ant-form {
        min-height: 40vh;
    }

    .ant-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}