@import '../../styles/imports/variables';

.header {
  width: 100vw;
  background-color: var(--color3);
  color: var(--color-light);
  border-bottom: $shadow;
  position: fixed;
  z-index: 3;
  
  &__row {
    display: flex;
    align-items: center;
    height: 38px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  &__logo {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
  }
  
  &__icon {
    width: 26px;
    height: 26px;
    fill: var(--color-light);
  }

  &__title {
    font-size: 22px;
    padding-left: 5px;
  }
    
  &__login-arrow {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    fill: var(--color-light)
  }
}

.form-switcher {
  margin: 8px 40px auto;
}