@import '../../styles/imports/variables';

.footer {
    background-color: var(--color3);
    color: var(--text-color1);
    box-shadow: $shadow;

    &__row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}