@import '../../styles/imports/variables';

// iOS Switcher
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import '../ios-switcher-master/dist/css/switcher.css';


.user-menu {
    position: absolute;
    top: 100%;
    right: 15px;
    width: 160px;
    padding-bottom: 15px;
    background-color: var(--color2);
    color: var(--text-color2);
    border: 1px var(--border-color) solid;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    user-select: none;
    transition: 0.1s;
    box-shadow: $shadow;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    &-active {
      opacity: 1;
      visibility: visible;
    }

    &__avatar {
      width: 100px;
      height: 100px;
      margin: 10px auto;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    
    &__link {
      padding: 2px 10px;

      &:hover {
        background-color: var(--app-color);
      }
    }
  }